* {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  background-color: #242937;
}
header {
  width: 100%;
  height: 8rem;
  background-color: #242937;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}
header .country {
  height: 4rem;
  width: 100%;
  max-width: 40%;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  margin: 1.5rem auto 0 auto;
  padding: 0;
}
header .list {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.7rem;
  text-align: center;
  color: #fff;
  opacity: 0.3;
  cursor: pointer;
}
header .list:hover {
  opacity: 1;
}
@media only screen and (max-width: 991px) {
  header {
    height: 6.4rem;
  }
  header .country {
    max-width: 80%;
    margin-top: 1rem;
    font-size: 1rem;
    height: 2.5rem;
  }
  header .list {
    height: 2.5rem;
    line-height: 2.5rem;
  }
}
.placeholder {
  color: #fff;
  opacity: 0.2;
}
*::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.2;
}
*::-moz-placeholder {
  color: #fff;
  opacity: 0.2;
}
*:-ms-input-placeholder {
  color: #fff;
  opacity: 0.2;
}
*:-moz-placeholder {
  color: #fff;
  opacity: 0.2;
}
#maparea {
  padding-top: 8rem;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 991px) {
  #maparea {
    padding-top: 6.4rem;
  }
}
#map {
  width: 100%;
  height: 100%;
}
#map .maplayer {
  text-align: center;
  width: 200px;
  margin-left: 0;
  padding: 0;
  padding-left: 25px;
  margin: 0;
  overflow: hidden!important;
}
#map .maplayer #bodyContent {
  overflow: hidden!important;
}
#map .maplayer * {
  width: 100%;
  line-height: 1.5!important;
  overflow: hidden!important;
}
#map .maplayer h1 {
  line-height: 1.5!important;
  margin-bottom: 0.1rem;
}
#map .maplayer p {
  font-size: 0.7rem;
  margin: 0.5rem 0;
}
#listarea {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: #384155;
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: none;
  text-align: center;
  padding: 5rem 0;
}
#listarea ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 40%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  *zoom: 1;
}
#listarea ul li {
  float: left;
  width: 25%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 0.8rem;
  color: #fff;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
}
#listarea ul li:active {
  padding-top: 1px;
}
@media only screen and (max-width: 767px) {
  #listarea ul {
    max-width: 80%;
  }
  #listarea ul li {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #listarea ul {
    max-width: 80%;
  }
  #listarea ul li {
    width: 33.3333%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1279px) {
  #listarea ul {
    max-width: 60%;
  }
}
#listarea ul:after {
  clear: both;
  display: block;
  content: '';
}
